<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Plugins/Slider/Asset/bg1.jpg" alt="Alternate Text" />
            <div class="carousel-caption">
                <h1 class="display-2">Sitecore</h1>
                <h3>Test Site</h3>
                <button type="button" class="btn btn-outline-light btn-lg">View</button>
                <button type="button" class="btn btn-primary btn-lg">Get Started</button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Plugins/Slider/Asset/bg2.jpg" alt="Alternate Text" />
        </div>
        <div class="carousel-item">
            <img src="~/Plugins/Slider/Asset/bg3.jpg" alt="Alternate Text" />
        </div>
    </div>
</div>