<configuration xmlns:patch="http://www.sitecore.net/xmlconfig">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name ="ScHelix.Feature.Blog"
                       description="Blog"
                       dependencies="Foundation.Serialization,Foundation.MultiTenant"
                       patch:after="configuration[@name='Foundation.MultiTenant']" >
          <targetDataStore physicalRootPath="D:\VS-Projects\SitecorePlay\Feature\Blog\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore,Rainbow" useDataCache="false" singleInstance="true"/>
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
           
            <!--templates-->
            <include name="ScHelix.Blog.Templates" database="master" path="/sitecore/templates/Helix Arch/Feature/Blog"/>
            
            <!--renderings-->
            <include name="Schelix.Blog.Renderings" database="master" path="/sitecore/layout/Renderings/Helix Arch/Feature/Blog"/>
            <!--placeholderSettings-->
            <!--<include name="Common.PlaceHolderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Common"/>-->
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>