<configuration xmlns:patch="http://www.sitecore.net/xmlconfig">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name ="ScHelix.Project" 
                       description="Main website for Helix Demo"
                       dependencies="Foundation.Serialization,Foundation.MultiTenant" 
                       patch:after="configuration[@name='Foundation.MultiTenant']" >
          <targetDataStore physicalRootPath="D:\VS-Projects\SitecorePlay\Project\ScHelix\Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore,Rainbow" useDataCache="false" singleInstance="true"/>
            <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
              <!--content-->
               <include name="Project.ScHelix.Content" database="master" path="/sitecore/Content"/>
              <!--templates-->
              <include name="Project.ScHelix.Templates" database="master" path="/sitecore/templates/Helix Arch/Project/Schelix"/>
            <!--layouts-->
            <include name="Project.ScHelix.Layouts" database="master" path="/sitecore/layout/Layouts/Helix Arch/Project/ScHelix"/>
            </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>