<configuration xmlns:patch="http://www.sitecore.net/xmlconfig">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name ="ScHelix.Feature.Banner"
                       description="Banner"
                       dependencies="Foundation.Serialization,Foundation.MultiTenant"
                       patch:after="configuration[@name='Foundation.MultiTenant']" >
          <targetDataStore physicalRootPath="D:\VS-Projects\SitecorePlay\Feature\Banner\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore,Rainbow" useDataCache="false" singleInstance="true"/>
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <!--templates-->
            <include name="ScHelix.Banner.Templates" database="master" path="/sitecore/templates/Helix Arch/Feature/Banner"/>

            <!--renderings-->
            <include name="Schelix.Banner.Renderings" database="master" path="/sitecore/layout/Renderings/Helix Arch/Feature/Banner"/>
           
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>